{% extends "base.html.j2" %}
{% block container %}
<h5>Pick your teams</h5>
{% for t in teams %}
<h2>{{t['full_name']}}<h2>
<ul>
    <li>Conference: {{t['conference']}}</li>
    <li>Division: {{t['division']}}</li>
</ul>
{% endfor %}
{% endblock container %}