.betting {
    width: 100%;
}

.betting__matchup__game {
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: gold;
}
.betting__matchup__game a:visited, .betting__matchup__game a:active, .betting__matchup__game a {
    text-decoration: none;
    color: inherit;
}
.betting__matchup__game a:hover {
    color: gold;
}
.betting__matchup__spread {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
}

.betting__matchup__game h2 {
    text-decoration: underline;
}

.betting__matchup__spread__content {
    display: block;
}

.matchup__teams:hover {
    cursor: pointer;
    color: gold;
}

