.betting {
    width: 100%;
}

.betting__matchup__game {
    width: 100%;
    text-align: center;
}
.betting__matchup__spread {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
}

.betting__matchup__game h2 {
    text-decoration: underline;
}

.betting__matchup__spread__content {
    display: block;
}
