{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/betting.css.jinja') }}">
{% endblock head %}
{% extends "base.html.j2" %}
{% block container %}
{% block betting %}

<div class="betting">
    {% for odd in odds|batch((companies|length), '-') -%}
    <div class="betting__matchup" id="{{matchups[loop.index - 1][matchups[loop.index - 1].rfind(':')+ 1::].strip().replace(' vs ', '_').replace(' ', '-')}}">
        <div class="betting__matchup__game">
            <form action="/{{matchups[loop.index - 1][matchups[loop.index - 1].rfind(':')+ 1::].strip().replace(' vs ', '_').replace(' ', '-')}}" method="POST">
            <input type="submit" value="{{matchups[loop.index - 1]}}" class="betting__matchup__game__header">
            </form>
        </div>
        <div class="betting__matchup__spread">
            {% for column in odd %}
                <div class="betting__matchup__spread__content">
                    <h5>{{companies[loop.index - 1]}}</h5>
                    <p>{{column}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {%endfor%}
    <div class="stats__container">
        {% block stats %}
            
        {% endblock %}
    </div>
</div>
{% endblock betting %}
<script src="{{ url_for('static', filename='js/betting.js')}}"></script>
{% if renderStats != None %}
        <script>window.onload = function () {
            setTimeout(function() {
                console.log('dont isolate matchups')
                this.focusMatchups("{{urlMatch}}");
            }, 2000);
        }</script>
    {% else %}
        <script>window.onload = function () {
            console.log('dont render stats')
        }</script>
    {% endif %}
{% endblock container %}
