

{% block head %}
    {# <link rel="stylesheet" href="{{ url_for('static', filename='styles/betting.css.jinja') }}"> #}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/teams.css') }}">
{% endblock head %}
{% extends "betting/betting.html.j2" %}
{% block betting %}
    {{ super() }}

{# {% block stats %} #}

<div class="header">
    <div class="header__left">
        <img src="static/images/logos/{{one}}.png" height="200" width="200">
        <h2>{{one}} ({{oneOverall['W'][0]}} - {{oneOverall['L'][0]}})</h2>
        <div class="stats">
            <div class="stats__left">
                <h3>OVERALL STATS</h3>
                {% for col in oneOverall.columns %}
                    {% for key, value in oneOverall.iterrows() %}
                        <p class="
                            {% if (oneOverall[col][0] > twoOverall[col][0] and col not in INVERSE_COL) or 
                                (oneOverall[col][0] < twoOverall[col][0] and col in INVERSE_COL)  %}
                                stats__cat__win
                            {% else %}
                                stats__cat__lose
                            {% endif %}">
                            {% if (oneOverall[col][0] > twoOverall[col][0] and col not in INVERSE_COL) or 
                                (oneOverall[col][0] < twoOverall[col][0] and col in INVERSE_COL)  %}
                                <i class="fas fa-star"></i>
                            {% endif %}
                            {{col | replace("_", " ")}}:: {{value[col]}}{% if col in PCT_COL %}%{% endif %}</p>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="stats__right">
                <h3>Stats against {{two}}</h3>
                {% for col in oneStats.columns %}
                    {% for key, value in oneStats.iterrows() %}
                        <p class="
                            {% if (oneStats[col][0] > twoStats[col][0] and col not in INVERSE_COL) or 
                                (oneStats[col][0] < twoStats[col][0] and col in INVERSE_COL)  %}
                                stats__cat__win
                            {% else %}
                                stats__cat__lose
                            {% endif %}">
                            
                            {% if (oneStats[col][0] > twoStats[col][0] and col not in INVERSE_COL) or 
                                (oneStats[col][0] < twoStats[col][0] and col in INVERSE_COL) %}
                                <i class="fas fa-star"></i>
                            {% endif %}
                            {{col | replace("_", " ")}}:: 
                            {{value[col]}}{% if col in PCT_COL %}%{% endif %}</p>
                    {% endfor %}
                {% endfor %}         
            </div>
        </div>
    </div>
    <div class="header__right">
        <img src="static/images/logos/{{two}}.png" height="200" width="200">
        <h2>{{two}} ({{twoOverall['W'][0]}} - {{twoOverall['L'][0]}})</h2>
        <div class="stats">
            <div class="stats__left">
                <h3>Stats against {{one}}</h3>
                {% for col in twoStats.columns %}
                    {% for key, value in twoStats.iterrows() %}
                        <p class="
                            {% if (twoStats[col][0] > oneStats[col][0] and col not in INVERSE_COL) or 
                                (twoStats[col][0] < oneStats[col][0] and col in INVERSE_COL) %}
                                stats__cat__win
                            {% else %}
                                stats__cat__lose
                            {% endif %}">
                            {% if (twoStats[col][0] > oneStats[col][0] and col not in INVERSE_COL) or 
                                (twoStats[col][0] < oneStats[col][0] and col in INVERSE_COL) %}
                                <i class="fas fa-star"></i>
                            {% endif %}
                            {{col | replace("_", " ")}}:: {{value[col]}}
                            {% if col in PCT_COL %}%{% endif %}
                        </p>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="stats__right">
                <h3>OVERALL STATS</h3>
                {% for col in twoOverall.columns %}
                    {% for key, value in twoOverall.iterrows() %}
                        <p class="
                            {% if (twoOverall[col][0] > oneOverall[col][0] and col not in INVERSE_COL) or 
                            (twoOverall[col][0] < oneOverall[col][0] and col in INVERSE_COL) %}
                                stats__cat__win
                            {% else %}
                                stats__cat__lose
                            {% endif %}">
                            {% if (twoOverall[col][0] > oneOverall[col][0] and col not in INVERSE_COL) or 
                            (twoOverall[col][0] < oneOverall[col][0] and col in INVERSE_COL) %}
                                <i class="fas fa-star"></i>
                            {% endif %}
                            {{col | replace("_", " ")}}:: {{value[col]}}
                            {% if col in PCT_COL %}%{% endif %}
                        </p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{# {% endblock stats %} #}
{% endblock betting %}
