

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/betting.css.jinja') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/teams.css') }}">
{% endblock head %}
{% extends "betting/betting.html.j2" %}
{% block stats %}
    <div class="header">
        <div class="header__left">
            <img src="static/images/logos/{{one}}.png" height="200" width="200">
            <h2>{{one}}</h2>
            <h3>Stats against {{two}}</h3>
            {% for col in oneStats.columns %}
                {% for key, value in oneStats.iterrows() %}
                    <p>{{col | replace("_", " ")}}:: {{value[col]}}{% if col in PCT_COL %}%{% endif %}</p>
                {% endfor %}
            {% endfor %}
            <h3>OVERALL STATS</h3>
             {% for col in oneOverall.columns %}
                {% for key, value in oneOverall.iterrows() %}
                    <p>{{col | replace("_", " ")}}:: {{value[col]}}{% if col in PCT_COL %}%{% endif %}</p>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="header__right">
        <img src="static/images/logos/{{two}}.png" height="200" width="200">
            <h2>{{two}}</h2>
            <h3>Stats against {{one}}</h3>
            {% for col in twoStats.columns %}
                {% for key, value in twoStats.iterrows() %}
                    <p>{{col | replace("_", " ")}}:: {{value[col]}}{% if col in PCT_COL %}%{% endif %}</p>
                {% endfor %}
            {% endfor %}
            <h3>OVERALL STATS</h3>
            {% for col in twoOverall.columns %}
                {% for key, value in twoOverall.iterrows() %}
                    <p>{{col | replace("_", " ")}}:: {{value[col]}}{% if col in PCT_COL %}%{% endif %}</p>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    
{% endblock stats %}
