{% extends "base.html.j2" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/teams.css') }}">
{% endblock head %}
{% block container %}
    <div class="header">
        <div class="header__left">
            <h3>{{one}}</h3>
            {% for col in oneStats.columns %}
                {% for key, value in oneStats.iterrows() %}
                    <p>{{col | replace("_", " ")}}:: {{value[col]}}{% if col in PCT_COL %}%{% endif %}</p>
                {% endfor %}
                
            {% endfor %}
        </div>
        <div class="header__right">
            <h3>{{two}}</h3>
            {% for col in twoStats.columns %}
                {% if col != 'GROUP_SET' %}
                    {% for key, value in twoStats.iterrows() %}
                        <p>{{col | replace("_", " ")}}:: {{value[col]}}{% if col in PCT_COL %}%{% endif %}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            
        </div>
    </div>
    <div class="one">
    
    </div>

{% endblock container %}
