<!DOCTYPE html>
<html lang="en">

<head>
    {% if title %}
    <title>NBA - {{title}}</title>
    {% else %}
    <title>NBA</title>
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block head %}
    
    {% endblock head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/ae78a69b9b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>

<body>
    <div id="main" class="alt">
        <header>
            <div class="header-left">
                <a href="/">
                <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="header-middle">
                <a href="/">
                    <h1>NBA Stats</h1>
                </a>
            </div>
            <div class="header-right">
                {# <i class="fa fa-home fa-3x" aria-hidden="true"></i> #}
            </div>
        </header>
        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
    </div>

</body>

</html>