<header>
    <a href="/">
    <i class="fa fa-home fa-3x" aria-hidden="true"></i>
    </a>
    <h1>NBA Stats</h1>
</header>
<style scoped>
/* Header */
header {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid white;
    margin-bottom: 25px;
    padding-top: 1px;
    display: block;
}
i {
    float: left;
    margin: 5px;
    padding-top: 15px;
}
a {
    color: white;
}
</style>