{% extends "base.html.j2" %}

{% block container %}
<div class="container__search">
<a href="./players">
    <input class="primary" type="submit" value="Player Comparison">
</a>
<a href="./betting">
    <input class="primary" type="submit" value="Betting Comparison">
</a>
</div>
{% endblock container %}<button 