<!DOCTYPE html>
<html lang="en">

<head>
    <title>NBA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Visualization JS -->
    <!-- Echarts -->
    <script src="./static/js/echarts/echarts.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./static/styles/main.css">
    <!-- Custom JS -->
    <!-- <script src="./assets/js/main.js"></script> -->



</head>

<body>
    <div id="main" class="alt">
        {% include 'header.html' %}
        <div class="container">
            <div class="container__search">
                <div class="container__search__left">
                    <input type="text" name="player-search" id="player-search-field" value=""
                        placeholder="Devin Booker">
                    <input type="submit" value="Search" class="primary" id="playerSearchBtn">
                </div>
                <div class="container__search__right">
                    <input type="text" name="player-search-2" id="player-search-field-2" value=""
                        placeholder="Trae Young">
                    <input type="submit" value="Search" class="primary" id="playerSearchBtn-2">
                </div>
            </div>
            <div class="container__cards">
                <div class="container__cards__holder" id="card-container-left"></div>
                <div class="container__cards__holder" id="card-container-right"></div>
            </div>
            <div class="container__compare__submit">
                <input type="submit" value="Compare Player Averages" id="compare-players" class="disabled">
            </div>
            <div class="container__compare__stats">
                <div class="container__compare__stats__left">
                    <h3 id="stats-left-name"></h3>
                    <ul id="stats-left"></ul>
                    <div id="mpg-left"></div>
                </div>
                <div class="container__compare__stats__middle" id="charts"></div>
                <div class="container__compare__stats__right">
                    <h3 id="stats-right-name"></h3>
                    <ul id="stats-right"></ul>
                    <div id="mpg-right"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- NBA Charts -->
    <script src="./static/js/visualization.js"></script>

    <!-- Custom JS -->
    <script src="./static/js/mpg.js"></script>
    <script src="./static/js/main.js"></script>
    
</body>

</html>