<div class="nav">
    <div class="nav__header">
        <i class="fas fa-ellipsis-v" id="nav-icon"></i>
        <!-- <i class="fas fa-times"></i> -->
    </div>
    <ul class="nav__menu" id="nav-menu">
        <a href="/">
            <li><i class="fas fa-home"></i> Home</li>
        </a>
        <a href="/players">
            <li><i class="fas fa-basketball-ball"></i> Player Comparison</li>
        </a>
        <a href="/betting">
            <li><i class="fas fa-money-check"></i> Betting Lines</li>
        </a>
    </ul>
</div>